{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-1",
    "react",
  ],
  "plugins": [
    ["module-alias", [
      { "src": "./src", "expose": "@" },
    ]],
    "styled-jsx/babel"
  ]
}